<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chỉnh sửa phiếu</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2>Chỉnh sửa phiếu</h2>
        <form method="post">
            <div class="form-group">
                <label for="enrollId">ID phiếu</label>
                <input type="number" class="form-control" name="enrollId" th:value="${enroll.enrollId}" placeholder="Nhập ID" required>
            </div>
            <div class="form-group">
                <label for="userId">ID người dùng</label>
                <input type="number" class="form-control" name="userId" th:value="${enroll.userId}" placeholder="Nhập ID" required>
            </div>
            <div class="form-group">
                <label for="courseId">ID khóa học</label>
                <input type="number" class="form-control" name="courseId" th:value="${enroll.courseId}" placeholder="Nhập khóa học" required>
            </div>
            <div class="form-group">
                <label for="enrolledDate">Ngày tạo</label>
                <input type="Date" class="form-control" name="enrolledDate" th:value="${enroll.enrolledDate}" required>
            </div>
            <button type="submit" class="btn btn-success">Lưu</button>
            <a href="/admin/enrollments" class="btn btn-secondary">Hủy</a>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>